
@import url('https://cdn.syncfusion.com/ej2/material.css');


.App {
  text-align: center;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-thumb {
  background: rgba(8, 0, 0, 0.733);
  border-radius: 5rem;
}